<div class="featured" class="mainElement">
    <div class="slide article">
       <div>
            <div class="caption">
                <% if (item.title) { %><h3 id="<%= item.key || key %>"><%- item.title %></h3><% } %>
            </div>
           <% if (item.src) { %><%- link_to(item.url||item.path, '<img src="'+item.src+'" />') %><% } %>
           <% if (item.introText) { %><p class="introText"><%- item.introText %></p><% } %>
           <% if (item.content) { %><div class="contentText"><%- typeof item.content == "function" ? item.content(locals) : item.content %></div><% } %>
        </div>
        <div class="clear"></div>
    </div>
    <% if (item.path) { %><a class="link action" href="<%= item.path %>" target="_blank"><%= (item.actionText ? item.actionText : 'Learn more')+' &raquo;' %></a><% } %>
</div><!-- featured -->
