<div class="item article">
	<% var hasPath = item.path %>

    <h3 id="<%= item.key || key %>"><% if (hasPath) { %><a href="<%= item.path %>" target="_blank"><% } %><%= item.title %><% if (hasPath) { %></a><% } %></h3>
    <% if (item.img) { %>
    <a href="<%= item.path %>" target="_blank"><img class="logo" src="<%= item.img %>"></a>
    <% } %>
    <div>
        <p class="introText"><%- item.previewText ? item.previewText : item.introText %></p>
    </div>
	<% if (hasPath) { %><a class="link action" href="<%= item.path %>" target="_blank"><%= (item.actionText ? item.actionText : 'Learn more')+' &raquo;' %></a><% } %>
</div>

