<div class="item article">
	<% var hasPath = item.path %>

    <h3><% if (hasPath) { %><a href="<%= item.path %>"><% } %><%= item.title %><% if (hasPath) { %></a><% } %></h3>
    <% if (item.img) { %>
    <a href="<%= item.path %>"><img class="logo" src="<%= item.img %>"></a>
    <% } %>
    <div>
        <p class="introText"><%- item.previewText ? item.previewText : item.introText %></p>
    </div>
	<% if (hasPath) { %><a class="link" href="<%= item.path %>"><%= (item.actionText ? items.actionText : 'Learn more')+' &raquo;' %></a><% } %>
</div>

