<% var info=apps[app] %>
<div class="span3">
    <div class="thumbnail ">
        <a href="<%= info['url'] %>">
            <img src="<%= info['logo'] %>" width="300" title="<%= info['name'] %>" alt="<%= info['name'] %> logo"/>
        </a>

        <% resolve_authors(info['author']).map(function(author) { %>
            <h4><em><a target="_blank" href="http://twitter.com/<%= author.twitter %>"><%= author.name %></a></em></h4>
        <% }).join(", "); %>
        <div class="caption">
            <h5><%= info['name'] %></h5>

            <p><%- info['text'] %></p>
        </div>
    </div>
</div>
