<% var info=books[book] %>
<div class="media">
    <a class="pull-left" href="<%= info['url'] %>">
        <img class="media-object" src="<%= info['logo'] %>" width="150" title="<%= info['name'] %>" alt="picture of <%= info['name'] %>"/>
    </a>

     <div class="media-body">
        <h4 class="media-heading">
			<a href="<%= info['url'] %>">
		        <p><b><%= info['name'] %></b></p>
		    </a>
        </h4>
        <p><b><%= info['author'] %></b></p>
        <p><%= info['price'] %></p>
        <p><%- info['text'] %></p>
    </div>
</div>
