<% var info=ext_content[content] %>
<div class="span3">
    <div class="thumbnail ">
        <a href="<%= info['url'] %>" target="_blank">
            <img src="<%= info['logo'] %>" width="300" title="<%= info['name'] %>" alt="<%= info['name'] %> logo"/>
        </a>
        <% var author = info['author']; %>
        <% if (author) { %>
        <% if (author.indexOf('@') == 0) { var contributor = contributors[author.substring(1)];%>
        <h4><em>by <a target="_blank" href="http://twitter.com/<%= contributor.twitter %>"><%= contributor.name %></a></em></h4>
        <%} else { %>
        <h4><em>by <%= author %></em></h4>
        <% }} %>

        <a href="<%= info['url'] %>" target="_blank">
            <div class="caption">
                <h5><%= info['name'] %></h5>

                <p><%- info['text'] %></p>
            </div>
        </a>
    </div>
</div>
