<div class="thumbnail  span2">

    <a href="<%= related['url'] %>">
        <img src="<%= related['image'] %>" width="200" title="<%= related['title'] %>" alt="picture of <%= related['title'] %>"/>
    </a>

    <div class="caption">
        <h5><a href="<%=related['url'] %>"><%= related['title'] %></a></h5>
        <% resolve_authors(related['author']).map(function(author) { %>
            <em><a target="_blank" href="http://twitter.com/<%= author.twitter %>"><%= author.name %></a></em>
        <% }).join(", "); %>
    </div>
</div>