<% if (training.url.match("http://")) { %>
	<a href="<%= training.url %>" target="_blank">
<% } else { %>
	<a href="http://info.neotechnology.com/<%= training.url %>" target="_blank">
<% } %>

<%= training.city %></a> at <%= training.date %>: 
 with 
        <% resolve_authors(training['presenter']).map(function(author) { %>
            <a target="_blank" href="http://twitter.com/<%= author.twitter %>"><%= author.name %></a>
        <% }).join(", "); %>
at <%= training.location %>
<br />
