<%
console.log(path);
var pageName = path.substring(path.lastIndexOf('/')+1, path.length);
var mainCategory = path.split('/')[1];
var page = pages[pageName];
var title=page.title;
console.log(page);
%>

<% include ../head %>
<%
        
if (page) {
%>
<div class="page"><!-- page -->

<h1><%= page.title %></h1>
    <% if (page.introText) { %>
<p class="introText"><%- page.introText %></p>
    <% } %>
    <% if (page.content) { %>
<p class="content"><%- page.content %></p>
    <% } %>

<div class="trackNav prevStep">
<% (page.prev||[]).forEach(function(p) {
var prevPage = pages[p];
  %>
    <h3><a href="<%= prevPage.path %>"><i class="icon icon-circle-arrow-left"></i></a><a href="<%= prevPage.path %>"><%= prevPage.title %></a></h3>
<%
});
%>
</div>

<div class="trackNav nextStep">
<% (page.next||[]).forEach(function(p) {
var nextPage = pages[p];
  %>
    <h3><a href="<%= nextPage.path %>"><i class="icon icon-circle-arrow-right"></i></a> <a href="<%= nextPage.path %>"><%= nextPage.title %></a></h3>
<%
});
%>
</div>

<% 
    var items = [].concat(page.featured);                   
    if (page.featured && items.length) {
        console.log("featured-items",items);
        items.forEach(function(key) { 
            var item = findItem(key);
            console.log("featured",item);
    %> <% include ../partials/item/_full %> <% 
        });
   } %>

<%
    if (page.related && page.related.length) { 
      console.log("page-related",page.related);
%>    
    <div class="related" class="mainElement">

            <% chunk(page.related,3).forEach(function(row) { %>
                <div class="row">
                <% 
                console.log("related-row",row);
                row.forEach(function(key) { 

                    var item = findItem(key);
                    console.log("related-item",item);

/*
                    var items = [].concat(item.featured);                   
                    console.log("item.featured",items);
                    if (item.featured && items.length) {
                        items.forEach(function(key) { 
                            var item = findItem(key);
                      % > < % include ../partials/item/_tile % > < %
                        });
                    } else {
*/
                      %> <% include ../partials/item/_tile %> <%
//                  }
                });  %> 

                </div><!-- row -->
                <div class="clear"></div>

         <% }); %>
                    
        </div><!-- row -->
        <div class="clear"></div>

    </div><!-- related -->

<% } %>

</div><!-- page -->

        <script type="text/javascript">
        <!--
        $(document).ready(function() {

            nav.activateMain('<%= mainCategory%>');
            nav.initThumbnails();
            nav.resize();
        });
        //-->
        </script>

<% } %>        
<script type="text/javascript">
    $(document).ready(function() {

        var featuredTop = $('div.featured').first().offset().top;

        $('.prevStep h3').css({
            top: featuredTop - 240 + 'px'
        });

        $('.nextStep h3').css({
            top: featuredTop - 240 + 'px'
        });

        $('.prevStep h3').on('mouseenter', function() {
            var self = $(this);
            // measure width
            var w = getTextWidth(self.text(), self.css('fontSize'), self.css('fontWeight'));
            self.animate({
                width: self.width() + w - 72 + 'px'
            }, 100);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                width: '5em'
            }, 200);
        });

        $('.nextStep h3').on('mouseenter', function() {
            var self = $(this);
            // measure width
            var w = getTextWidth(self.text(), self.css('fontSize'), self.css('fontWeight'));
            self.animate({
                width: self.width() + w - 80 + 'px'
            }, 100);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                width: '5em'
            }, 200);
        });
    });

function getTextWidth(text, fs, fw) {
    $('body').append('<span id="test123" style="font-size:'+fs+';font-weight:' + fw + ';position:absolute;visibility:hidden;padding:0;border:1px solid red;overflow:hidden">' + text + '</span>');
    var span = $('#test123', $('body'));
    span.css({
    });
    //console.log(span);
    var w = span.width();
    span.remove();
    return w;
}


</script>

<% include ../foot %>
