<%
console.log(path,neo4j);
var pageName = path.substring(path.lastIndexOf('/')+1, path.length);
var mainCategory = path.split('/')[1];
var page = pages[pageName];
var title=page.title;
// console.log(page);
%>

<% include ../head %>
<%
        
if (page) {
%>
<div class="page"><!-- page -->

<h1><%= page.title %></h1>
    <% if (page.introText) { %>
<p class="introText"><%- page.introText %></p>
    <% } %>
    <% if (page.content) { %>
<p class="content"><%- typeof page.content == "function" ? page.content(locals) : page.content %></p>
    <% } %>

<div class="trackNav prevStep">
<% (page.prev||[]).forEach(function(p) {
var prevPage = pages[p];
  %>
    <h3><a href="<%= prevPage.path %>"><i class="icon icon-circle-arrow-left"></i></a><a href="<%= prevPage.path %>"><%= prevPage.title %></a></h3>
<%
});
%>
</div>

<div class="trackNav nextStep">
<% (page.next||[]).forEach(function(p) {
var nextPage = pages[p];
  %>
    <h3><a href="<%= nextPage.path %>"><i class="icon icon-circle-arrow-right"></i></a> <a href="<%= nextPage.path %>"><%= nextPage.title %></a></h3>
<%
});
%>
</div>

<% 
    var items = [].concat(page.featured);
    var config = page.config || {};
    var showSlides = items.length > 1 && !config['no_slides'];
    if (page.featured && items.length) {

//        console.log("featured-items",items);
    %><% if (showSlides) { %><div id="featured_slider"><ul class="bjqs"><% } %><%
            items.forEach(function(key) { 
            var item = findItem(key);
//            console.log("featured",item);
    %>
        <% if (showSlides) { %> 
            <li title="<%= item.title||'' %>">
            <% include ../partials/item/_full %>
            </li>
        <% } else { %>
            <% include ../partials/item/_full %>
        <% } }); %>
        <% if (showSlides) { %></ul></div><% } %><%
   } %>

<%
    if (page.related && page.related.length) { 
//      console.log("page-related",page.related);
%>    
    <div class="related" class="mainElement">

            <% chunk(page.related,3).forEach(function(row) { %>
                <div class="row">
                <% 
//                console.log("related-row",row);
                row.forEach(function(key) { 

                    var item = findItem(key);
//                    console.log("related-item",item);

/*
                    var config = item.config || {};
                    var items;
                    if (!config['tile_page']) {
                        items=[].concat(item.featured);
                    }
                    console.log("item.featured",items);
                    if (item.featured && items.length) {
                        items.forEach(function(key) { 
                            var item = findItem(key);
                      % > < % include ../partials/item/_tile % > < %
                        });
                    } else {
*/
                      %> <% include ../partials/item/_tile %> <%
//                  }
                });  %> 

                </div><!-- row -->
                <div class="clear"></div>

         <% }); %>
                    
        </div><!-- row -->
        <div class="clear"></div>

    </div><!-- related -->

<% } %>

</div><!-- page -->
<script type="text/javascript">

    $(document).ready(function() {
        
        var ref = $('#featured_slider');
        var offset = 224;

        if (!ref.length) {
            ref = $('div.featured');
            offset = 240;
            if (!ref.length) {
                ref = $('div.related');
                offset = 224;
            }
        }
        var featuredTop = ref.first().offset().top;

        $('.prevStep h3').css({
            top: featuredTop - offset + 'px'
        });

        $('.nextStep h3').css({
            top: featuredTop - offset + 'px'
        });

        $('.prevStep h3').on('mouseenter', function() {
            var self = $(this);
            // measure width
            var w = getTextWidth(self.text(), self.css('fontSize'), self.css('fontWeight'));
            self.animate({
                width: self.width() + w - 72 + 'px'
            }, 100);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                width: '5em'
            }, 200);
        });

        $('.nextStep h3').on('mouseenter', function() {
            var self = $(this);
            // measure width
            var w = getTextWidth(self.text(), self.css('fontSize'), self.css('fontWeight'));
            self.animate({
                width: self.width() + w - 80 + 'px'
            }, 100);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                width: '5em'
            }, 200);
        });

        function enableSlider() {
        var featured = $("div.featured");
        // todo doesn't work, always returns null when called from here, works when called later
        var slideHeight = Math.max.apply(null,featured.map(function() { return $(this).height(); }));
        var slideWidth = Math.max.apply(null,featured.map(function() { return $(this).width(); }));
            
        console.log('width/height',slideWidth,slideHeight)
        $('#featured_slider').bjqs({
            // width and height need to be provided to enforce consistency
            // if responsive is set to true, these values act as maximum dimensions
            width : Math.max(slideWidth,960), //'58em',
            height : Math.max(slideHeight, 400), //'30em',
            
            // animation values
            animtype : 'slide', // accepts 'fade' or 'slide'
            animduration : 450, // how fast the animation are
            animspeed : 400000, // the delay between each slide
            // automatic : true, // automatic
            
            // control and marker configuration
            showcontrols : true, // show next and prev controls
            centercontrols : true, // center controls verically
            nexttext : '<i class="slider icon-forward"></i>', // Text for 'next' button (can use HTML)
            prevtext : '<i class="slider icon-backward"></i>', // Text for 'previous' button (can use HTML)
            showmarkers : false, // Show individual slide markers
            centermarkers : false, // Center markers horizontally
            
            // interaction values
            keyboardnav : true, // enable keyboard navigation
            hoverpause : true, // pause the slider on hover
            
            // presentational options
            usecaptions : false, // show captions for images using the image title tag
            //randomstart : true, // start slider at random slide
            responsive : true // enable responsive capabilities (beta)
        });
            nav.resize();
        }
        setTimeout(enableSlider,500);

        var region="<%= region %>";
    	
    	function filterByRegion(region) {
            var elements=$("div[area]");
            if (elements.length==0) return; 
        	elements.each(function() {
        		var area = $(this).attr("area");
        		if (!area || area=='WORLD' || region=='WORLD' || area==region) $(this).show();
        		else $(this).hide();
        	})
            nav.resize();
        }
    	$("#region").val(region).change(function() {
    	    filterByRegion($(this).val());
    	})
//    	filterByRegion(region);
        
        nav.activateMain('<%= mainCategory%>');
        nav.initThumbnails();
        nav.resize();
        setTimeout(nav.resize,250)
    });


function getTextWidth(text, fs, fw) {
    $('body').append('<span id="test_width_item" style="font-size:'+fs+';font-weight:' + fw + ';position:absolute;visibility:hidden;padding:0;border:1px solid red;overflow:hidden">' + text + '</span>');
    var span = $('#test_width_item', $('body'));
    var w = span.width();
    span.remove();
    return w;
}


</script>
<% } %>        

<% include ../foot %>
