<td>
    <div class="btn-group">
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Download <span
                class="caret"></span></button>
        <ul class="dropdown-menu">
            <% ["community","advanced","enterprise"].forEach(function(edition) { 
%>
            <li><a href="<%= edition=='community' ? '/download_thanks':'http://info.neotechnology.com/download-Neo4j.html'%>?edition=<%= edition %>&amp;release=<%= version %>&amp;platform=<%= platform %>">
                <%=: edition | capitalize %> <%= version %></a></li>
            <% }) %>
        </ul>
    </div>
</td>