<div class="item default">
<%
    console.log('link tile');
	var url = item.url || item.path;
	var image = item.img ? item.img : item.thumbnail ? item.thumbnail : (item.featured && item.featured.thumbnail ? item.featured.thumbnail : '');
%>

    <h3 id="<%= item.key || key %>"><%- link_to(url, item.title) %></h3>
    <% if (image) { %>
    <%- link_to(url, '<img class="preview" src="'+image+'" />') %>
    <% } %>
    <% resolve_authors(item.authors||item.author).map(function(author) { %>
        <h4><em><a target="_blank" href="http://twitter.com/<%= author.twitter %>"><%= author.name %></a></em></h4>
    <% }).join(", "); %>
    <div>
        <p class="introText"><%- item.introText ? item.introText : "" %></p>
    </div>
    <% // todo linkto with classes and skip if no link
    if (url) { %><a target="_blank" class="link action" href="<%= url %>"><%- (item.actionText ? item.actionText : 'Learn more')+' &raquo;' %></a><% } %>

    <% if (item['github']) { %>
       <a target="_blank" class="github" href="<%= item['github'] %>">GitHub</a>
    <% } %>
</div>

