<% include ../head %>

<div class="container">

<!-- Main Content Row -->
<div class="main row">
  <div class="span8">
      <div id="neo4j" class="hero-unit path">
        <h2><a><i class="icon icon-book"></i> What is Neo4j?</a></h2>
        <p class="lead">Neo4j is a graph database, reliable and fast for managing and querying highly connected data.</p>
      </div>

    <p>Neo4j is an open-source <a href="/learn/graphdatabase">graph database</a> supported by <a onclick="javascript:pageTracker._trackPageview('/outgoing/neotechnology.com/');"
                         href="http://neotechnology.com/">Neo Technology</a>.</p>
    <p>Neo4j stores data in nodes connected by directed, typed relationships with properties on both, also known as a <a href="/learn/graphdatabase">Property Graph</a>.</p>

    <h3>Neo4j is</h3>
     <ul id="features">
        <li><span class="text18">intuitive</span>, using a graph model for data representation</li>
        <li><span class="text18">reliable</span>, with full ACID transactions</li>
        <li><span class="text18">durable and fast</span>, using a custom disk-based, native storage engine</li>
        <li><span class="text18">massively scalable</span>, up to several billion nodes/relationships/properties</li>
        <li><span class="text18">highly-available</span>, when distributed across multiple machines</li>
        <li><span class="text18">expressive</span>, with a powerful, human readable <a href="/learn/cypher">graph query language</a></li>
        <li><span class="text18">fast</span>, with a powerful traversal framework for high-speed graph queries</li>
        <li><span class="text18">embeddable</span>, with a few small jars</li>
        <li><span class="text18">simple</span>, accessible by a convenient <a
                onclick="javascript:pageTracker._trackPageview('/outgoing/docs.neo4j.org/chunked/stable/rest-api.html');"
                href="http://docs.neo4j.org/chunked/<%= neo4jGA.version %>/rest-api.html">REST interface</a> or
            an object-oriented Java <a onclick="javascript:pageTracker._trackPageview('/outgoing/api.neo4j.org/');"
                               href="http://api.neo4j.org/<%= neo4jGA.version %>">API</a></li>
        </ul>
      <div class="span3"><h3>Watch Graph DB 101</h3>

      <a data-toggle="lightbox" href="#neo4j-intro" class="thumbnail"><img src="<%=asset('img/still/graphdb-intro.png')%>"
                                                                            alt="Click to View"/></a>

      <p class="caption"><i class="icon icon-facetime-video"></i> A pleasant stroll through general concepts, and Neo4j particulars.</p>

      <div class="lightbox fade" id="neo4j-intro" tabindex="-1" style="display: none;" src="http://player.vimeo.com/video/46886385">
              <div class='lightbox-content'>
                  <iframe src="" width="1000" height="432" frameborder="0"
                      webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen"
                      allowfullscreen="allowFullScreen"></iframe>
          </div>
      </div></div>
  </div>
  <aside class="span4 sidebar">
  <div class="summary">
    <h2>Briefly</h2>
    <div class="well">
      <h5>Neo4j is a <strong>graph</strong> database</h5>
      <ul class="circle">
        <li>the data model is a Property Graph</li>
        <li>Nodes + Relationships, with Properties</li>
        <li>Query with a traversal</li>
        <li>Indexes for simple lookups</li>
      </ul>
      <h5>Neo4j is a graph <strong>database</strong></h5>
      <ul class="circle">
        <li>reliable ACID transactions</li>
        <li>scalable to billions of records</li>
        <li>comprehensive <a
                        onclick="javascript:pageTracker._trackPageview('/outgoing/docs.neo4j.org/chunked/stable/rest-api.html');"
                        href="http://docs.neo4j.org/chunked/<%= neo4jGA.version %>/rest-api.html">REST interface</a></li>
        <li>object-oriented <a onclick="javascript:pageTracker._trackPageview('/outgoing/api.neo4j.org/');" href="http://api.neo4j.org/<%= neo4jGA.version %>">API</a></li>
        <li>high-performance HA clustering</li>
      </ul>
    </div>
  </div>
  <div class="next-steps">
    <h2>Next Steps</h2>
    <div class="next thumbnail">
      <div class="caption">
          <ul>
              <li><a href="/learn/graphdatabase">What is a graph database</a></li>
              <li><a href="/install">Install Neo4j</a></li>
              <li><a href="/learn/cypher">Introduction to Cypher</a></li>
              <li><a href="/develop">Develop an App</a></li>
          </ul>
    </div>
  </div>
      
  <div class="reference-card">
    <h2>Neo4j Reference Card</h2>
    <div class='visually_embed' data-category='Technology' rel='infographic'> <img class='visually_embed_infographic'
                     src='http://thumbnails.visually.netdna-cdn.com/whats-a-graph-database_502918e97645c_w587.png'
                     rel='http://thumbnails.visually.netdna-cdn.com/whats-a-graph-database_502918e97645c.png' alt="What's a Graph Database" /> <a id='visually_embed_view_more' target='_blank' href='http://visual.ly/whats-graph-database'></a>
      <link rel='stylesheet' type='text/css' href='http://visual.ly/embeder/style.css'/>
      <script type='text/javascript' src='http://visual.ly/embeder/embed.js'></script>
    </div>
   </div>
   </aside>
  </div>
</div>


<% include ../foot %>

