<div class="trackNav prevStep">
<% page.prev.forEach(function(p) {
var prevPage = pages[p];
  %>
    <h3><a href="<%= prevPage.path %>"><i class="icon icon-circle-arrow-left"></i></a><a href="<%= prevPage.path %>"><%= prevPage.title %></a></h3>
<%
});
%>
</div>

<div class="trackNav nextStep">
<% page.next.forEach(function(p) {
var nextPage = pages[p];
  %>
    <h3><a href="<%= nextPage.path %>"><i class="icon icon-circle-arrow-right"></i></a> <a href="<%= nextPage.path %>"><%= nextPage.title %></a></h3>
<%
});
%>
</div>

<div class="featured" class="mainElement">
    <div class="slide track">
        <div class="caption">
            <% if (item.title) { %><h3><%= item.title %></h3><% } %>
            <%- item.introText %>
        </div>
        <div class="content">
            <%- item.content %>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
<script type="text/javascript">
    $(document).ready(function() {

        $('.prevStep h3')

        $('.prevStep h3').on('mouseenter', function() {
            var self = $(this);
            self.animate({
                width: '80%'
            }, 100);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                width: '5em'
            }, 200);
        });

        $('.nextStep h3').on('mouseenter', function() {
            var self = $(this);
            self.animate({
                width: '80%'
            }, 100);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                width: '5em'
            }, 200);
        });
    });

</script>
