<div class="trackNav prevStep">
<% page.prev.forEach(function(p) {
var prevPage = pages[p];
  %>
    <h3><a href="<%= prevPage.path %>"><i class="icon icon-circle-arrow-left"></i></a><a href="<%= prevPage.path %>"><%= prevPage.title %></a></h3>
<%
});
%>
</div>

<div class="trackNav nextStep">
<% page.next.forEach(function(p) {
var nextPage = pages[p];
  %>
    <h3><a href="<%= nextPage.path %>"><%= nextPage.title %></a> <a href="<%= nextPage.path %>"><i class="icon icon-circle-arrow-right"></i></a></h3>
<%
});
%>
</div>

<div class="featured" class="mainElement">
    <div class="slide track">
        <div class="caption">
            <% if (page.featured.title) { %><h3><%= page.featured.title %></h3><% } %>
            <%- page.featured.introText %>
        </div>
        <div class="content">
            <%- page.featured.content %>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.prevStep h3').on('mouseenter', function() {
            var self = $(this);
            self.animate({
                left: '-=100',
            }, 200);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                left: '+=100',
            }, 100);
        });

        $('.nextStep h3').on('mouseenter', function() {
            var self = $(this);
            self.animate({
                right: '-=100',
            }, 200);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                right: '+=100',
            }, 100);
        });
    });
</script>
