<div class="item track">
	<% var hasPath = related.path %>

    <h3><% if (hasPath) { %><a href="<%= related.path %>"><% } %><%= related.title %><% if (hasPath) { %></a><% } %></h3>
    <% if (related.img) { %>
    <a href="<%= related.path %>"><img class="logo" src="<%= related.img %>"></a>
    <% } %>
    <div>
        <p class="introText"><%- related.previewText ? related.previewText : related.introText %></p>
    </div>
	<% if (hasPath) { %><a class="link" href="<%= related.path %>"><%= (related.actionText ? related.actionText : 'Learn more')+' &raquo;' %></a><% } %>
</div>

