<%
	var hasPath = item.path;
	var image = item.img ? item.img : item.thumbnail ? item.thumbnail : (item.featured && item.featured.thumbnail ? item.featured.thumbnail : '');

%>
<div class="featured" class="mainElement">
    <div class="slide video">
        <div class="caption">
            <h3 id="<%= item.key || key || item.title.replace(' ','_') %>"><%= item.title %></h3>
            <%- item.type == 'video' ? '<i class="icon icon-facetime-video"></i>' : '' %><%-: item.introText | truncate_words: 50 %>
        </div>
        <div class="content">
        	<img class="thumbnail" src="<%= image %>" data-src="<%= item.src %>">
            <%- typeof item.content == "function" ? item.content(locals) : item.content %>
        </div>
        <div class="clear"></div>
        <%- lightbox_link(item.src, (item.actionText || 'Watch the video') + ' &raquo;','link action') %>
    </div>
</div><!-- featured -->
