<%
	var hasPath = item.path;
	var image = item.img ? item.img : item.thumbnail ? item.thumbnail : (item.featured && item.featured.thumbnail ? item.featured.thumbnail : '');

console.log("item.content",item.content);
%>
<div class="featured" class="mainElement">
    <div class="slide video">
        <div class="image">
        <img class="thumbnail" src="<%= image %>" data-src="<%= item.src %>">
        </div>
        <div class="text">
        <div class="caption">
            <h3 id="<%= item.key || key %>"><%= item.title %></h3>
            <%- item.type == 'video' ? '<i class="icon icon-facetime-video"></i>' : '' %><%-: item.introText | blank | truncate_words: 50 %>
        </div>
        <div class="content">
            <%- (typeof item.content == "function" ? item.content(locals) : item.content) || "" %>
        </div>
        </div>
        <div class="clear"></div>
    </div>
    <%- hasPath ? link_to(item.path, (item.actionText || 'Learn more') + ' &raquo;', 'link_action') : lightbox_link(item.src, (item.actionText || 'Watch the video') + ' &raquo;','link action') %>
</div><!-- featured -->
