<div class="item video">
	<% var hasPath = related.path %>

    <h3><% if (hasPath) { %><a href="<%= related.path %>"><% } %><%= related.title %><% if (hasPath) { %></a><% } %></h3>
    <% if (related.featured.thumbnail) { %>
    <a href="<%= related.path %>"><img class="preview" src="<%= related.featured.thumbnail %>"></a>
    <% } %>
    <div>
        <p class="introText"><%- related.previewText ? related.previewText : related.introText %></p>
    </div>
    <% if (hasPath) { %><a class="link" href="<%= related.path %>"><%= related.actionText ? related.actionText : 'Learn more &raquo;' %></a><% } %>
</div>
