<div class="item default">
<%
	var hasPath = item.path;
	var image = item.img ? item.img : item.thumbnail ? item.thumbnail : (item.featured && item.featured.thumbnail ? item.featured.thumbnail : '');

%>

    <h3 id="<%= item.key || key %>"><i class="icon-facetime-video"></i> <%- lightbox_link(item.src, item.title) %></h3>
    <% if (image) { %>
    <%- link_to(item.path, '<img class="thumbnail" src="'+image+'" data-src="'+item.src+'" />') %>
    <% } %>
    <div>
        <p class="introText"><%-: (item.previewText ? item.previewText : (item.introText?item.introText:'')) | truncate_words: 25 %></p>
    </div>
    <%- lightbox_link(item.src, (item.actionText || 'Watch the video') + ' &raquo;','link action') %>
</div>

