<div class="item default">
<%
	var hasPath = item.path;
	var image = item.img ? item.img : item.thumbnail ? item.thumbnail : (item.featured && item.featured.thumbnail ? item.featured.thumbnail : '');

%>

    <h3><a href="<%= item.path %>"><%- link_to(item.path, item.title + " (video)") %></a></h3>
    <% if (image) { %>
    <%- link_to(item.path, '<img class="thumbnail" src="'+image+'" data-src="'+item.src+'" />') %>
    <% } %>
    <div>
        <p class="introText"><%-: (item.previewText ? item.previewText : (item.introText?item.introText:'')) | truncate_words: 25 %></p>
    </div>
    <% // todo linkto with classes and skip if no link 
    if (hasPath) { %><a class="link action" href="<%= item.path %>"><%= (item.actionText ? item.actionText : 'Learn more')+' &raquo;' %></a><% } %>
</div>

