<div class="featured" class="mainElement">
    <div class="slide default">
        <div class="caption">
            <h3><%= item.title %></h3>
            <%- item.type == 'video' ? '<i class="icon icon-facetime-video"></i>' : '' %><%- item.introText %>
        </div>
        <div class="content">
        	<!--iframe src="<%= item.src %>" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe-->
        	<img class="thumbnail" src="<%= item.thumbnail %>" data-src="<%= item.src %>">
            <%- item.content %>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
