<%
	var path = item.path || item.url;
	var image = item.img ? item.img : item.thumbnail ? item.thumbnail : (item.featured && item.featured.thumbnail ? item.featured.thumbnail : '');

%>
<div class="featured" class="mainElement">
    <div class="slide default">
        <div class="image">
            <%- link_to(path, '<img class="thumbnail" src="'+image+'" />') %>
        </div>
        <div class="text">
            <div class="caption">
                <h3 id="<%= item.key || key %>"><%- item.title %></h3>
                <%- item.type == 'video' ? '<i class="icon icon-facetime-video"></i>' : '' %><%- item.introText %>
            </div>
            <div class="content">
                <%- typeof item.content == "function" ? item.content(locals) : item.content %>
            </div>
        </div>

        <div class="clear"></div>
    </div>
    <% if (path) { %><a class="link action" href="<%= path %>" target="_blank"><%= (item.actionText ? item.actionText : 'Learn more')+' &raquo;' %></a><% } %>
</div><!-- featured -->
