<div class="item default">
<%
	var hasPath = item.path;
	var image = item.img ? item.img : item.thumbnail ? item.thumbnail : (item.featured && item.featured.thumbnail ? item.featured.thumbnail : '');
	console.log(image)
%>

    <h3><%- link_to(item.path, item.title) %></h3>
    <% if (image) { %>
    <%- link_to(item.path, '<img class="preview" src="'+image+'" />') %>
    <% } %>
    <div>
        <p class="introText"><%- item.previewText ? item.previewText : item.introText %></p>
    </div>
    <% // todo linkto with classes and skip if no link 
    if (hasPath) { %><a class="link" href="<%= item.path %>"><%- (item.actionText ? item.actionText : 'Learn more')+' &raquo;' %></a><% } %>
</div>

