<script type="text/javascript">
    $(document).ready(function() { download_button_function("<%=version %>","download_link_milestone","<%=platform%>") });
</script>
<div class="featured mainElement download" style="min-height:17em;height:17em">
    <div class="slide article">
        <div class="image">
            <div style="vertical-align:middle;text-align:center;width:25em;line-height:150%;padding:1em;" class="btn btn-download image">
                <a style="color: #fff;" id="download_link_milestone" href="http://info.neotechnology.com/download_thanks.html?edition=<%=edition%>&platform=<%=platform%>&release=<%=version%>" title="Free High Performance Graph Database
Server, GPL licensed with community support">
                    <span style="font-size: 3em;"><i class="icon-download-alt"></i> Download<br/>Neo4j Server</span><br/>
                    <span name="caption">Neo4j </span>
                </a>
            </div>
            <div style="text-align:center; padding-left: 1.5em;width:25em">
                <!--<p><em>WARNING: beta releases may not be backwards compatible. Backup before attempting manual upgrade.</em></p>-->

                <a style="" href="<%=readme %>">Read more</a>
                | <a style="" href="/download/other_versions">Other Versions</a>
                | <a style="" href="/learn/licensing">License</a>
                | <a style="" href="/download/upgrade-faq">Upgrade FAQ</a>
                | <a href="#browser-matrix" onclick="$('#browser-matrix').show()">Compatibility</a>
                <!--| <a style="" href="http://www.neotechnology.com/price-list/">Enterprise Subscriptions</a>-->
            </div>
        </div>
        <div class="text">
            <div class="caption">
                <h3 id="download">Download Neo4j Community Edition</h3>
                <p class="introText">
                    <a href="/learn/neo4j">Neo4j</a> Community edition is the best choice if you are building an
                    <strong>GPL-licensed open source project</strong> or want to try out
                    Neo4j on your own.<br/>
                </p>
            </div>
            <div class="content">
                Neo4j <a href="http://www.neotechnology.com/price-list/">commercial subscriptions</a> include the High-Performance Cache, Horizontal Scaling, and Live Backups as well as commercial support and licensing.
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
