<!--
For <b>Windows</b> users of the Neo4j Community Edition we now provide an
  installer (<a title ='Windows installer x64 for Neo4j <%= item.version %>'  href='http://info.neotechnology.com/download_thanks.html?edition=community&amp;release=<%= item.version %>&amp;platform=windows&amp;packaging=exe&amp;architecture=x64'>64 bit</a>, <a title ='Windows installer x32 for Neo4j <%= item.version %>'  href='/download_thanks?edition=community&amp;release=<%= item.version %>&amp;platform=windows&amp;packaging=exe&amp;architecture=x32'>
  32 bit</a>) and the existing
<a title ='Windows zip distribution for Neo4j <%= item.version %>'  href='http://info.neotechnology.com/download_thanks.html?edition=community&amp;release=<%= item.version %>&amp;platform=windows'>
distribution</a>.
-->
<table class="table-download">
    <thead>
    <tr>
        <th>Linux/Mac</th>
        <th>Windows</th>
    </tr>
    </thead>
    <tbody>
    <%
    var platforms={"unix":"Linux/Mac","windows":"Windows"};
    var editions = {
    community : "Free High Performance Graph Database Server, GPL licensed with community support",
    <!--advanced  : "High Performance Graph Database Server with advanced monitoring, AGPL/Commercially licensed with 10x5 email support",-->
    enterprise: "High Performance Graph Database Server with advanced monitoring, high availability, read scaling and online backup, AGPL/Commercially licensed with 24x7 phone support"
    };
    Object.keys(editions).forEach(function(edition) {
    %>
    <tr style="vertical-align: top">
        <%
        Object.keys(platforms).forEach(function(platform) {
        %>
           <% if(platform == 'windows' && edition=='community') { %>
                   <td style="text-align: center;vertical-align: top">
                       <strong><%=: edition | capitalize %></strong><br/>
                       Installer: <a title ='Windows installer x64 for Neo4j <%= item.version %>'  href='http://info.neotechnology.com/download_thanks.html?edition=community&amp;release=<%= item.version %>&amp;platform=windows&amp;packaging=exe&amp;architecture=x64'>64</a> /
                       <a title ='Windows installer x32 for Neo4j <%= item.version %>'  href='http://info.neotechnology.com/download_thanks.html?edition=community&amp;release=<%= item.version %>&amp;platform=windows&amp;packaging=exe&amp;architecture=x32'>32</a> bit<br/>
                       Binary: <a  title="<%= editions[edition]%>" href="<%= edition=='community' ? 'http://info.neotechnology.com/download_thanks.html':'http://info.neotechnology.com/download-Neo4j.html'%>?edition=<%= edition %>&amp;release=<%= item.version %>&amp;platform=<%= platform %>">zip</a>
                   </td>
           <%} else {%>                
            <td style="text-align: center;vertical-align: top">
                <a  title="<%= editions[edition]%>"
                    href="<%= edition=='community' ? 'http://info.neotechnology.com/download_thanks.html':'http://info.neotechnology.com/download-Neo4j.html'%>?edition=<%= edition %>&amp;release=<%= item.version %>&amp;platform=<%= platform %>">
                <strong><%=: edition | capitalize %></strong><br/>
                <i class="icon-download-alt"></i></a>
            </td>
           <%}%>                
        <% }) %>
    </tr>
    <% }) %>
    </tbody>
</table>