<div class="featured" class="mainElement">
    <div class="slide version">
        <div class="image">
            <% if (item.thumbnail) { %>
                <img class="thumbnail" src="<%= item.thumbnail %>" data-src="<%= item.src %>">
            <% } %>
        </div>
        <div class="text">
            <div class="caption">
                <h3 id="<%= item.key || key %>"><%= item.title %></h3>
                <%- item.introText||item.summary %>
                <% include _download_table %>
                <br/>
                <p>
                   For <strong>Windows</strong> please run the installer and then use the Neo4j Desktop to start and stop your server. It is also available in the system tray.
                </p>
                <p>For <strong>Linux/Mac</strong> please download and unzip the distribution. Start the server with <code>bin/neo4j start</code> from a terminal.<br/>
                   Open <a href="http://localhost:7474" target="_blank"><code>http://localhost:7474</code></a> for the Web UI.</p>
                <% if (item.stability=="stable") { %>
                    <a href="/release-notes#<%= item.version %>">Release Notes &raquo;</a>
                <% } %>
                <% if (item.path||item.src) { %>
                    <a class="link" href="<%= item.path||item.src %>" target="_blank">Read More &raquo;</a>
                <% } %>
            </div>
            <div class="content">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
