<div class="item version">
    <h3 id="<%= item.key || key %>"><%= item.title %></h3>
    <div>
        <p class="introText"><%- item.previewText || item.introText || item.summary %></p>
    </div>
    <% include _download_table %> 
    <% if (item.stability=="stable") { %>
    <a href="/release-notes#<%= item.version %>">Release Notes &raquo;</a>
    <% } %>
    <% if (item.path||item.src) { %>
    <a class="link action" href="<%= item.path||item.src %>" target="_blank">Read More &raquo;</a>
    <% } %>
</div>

