<div class="item video">
	<% var hasPath = item.path %>

    <h3 id="<%= item.key || key %>"><% if (hasPath) { %><a href="<%= item.path %>"><% } %><%= item.title %><% if (hasPath) { %></a><% } %></h3>
    <% if (item.featured.thumbnail) { %>
    <a href="<%= item.path %>"><img class="preview" src="<%= item.featured.thumbnail %>"></a>
    <% } %>
    <div>
        <p class="introText"><%- item.previewText ? item.previewText : item.introText %></p>
    </div>
	<% if (hasPath) { %><a class="link action" href="<%= item.path %>"><%= (item.actionText ? item.actionText : 'Learn more')+' &raquo;' %></a><% } %>
</div>
