<% var info=item;%>
<div class="item graphgist">

    <a href="<%= 'http://twitter.com/'+info['Twitter'] %>" target="_blank">
        <img class="preview" src="<%= 'http://api.twitter.com/1.1/users/profile_image/'+info['Twitter']+'?size=bigger' %>" title="<%= info['name'] %>" alt="picture of <%= info['name'] %>"/>
    </a>
    <h3><a href="<%=info.URL %>" target="_blank"><%= info['Title'] %></a></h3>
            
    <h5>Category: <%=info.Category %></h5>
    
</div>