<% var info=typeof(item) == 'object' ? item : drivers[item] %>
<div class="featured" class="mainElement">
    <div class="slide article">
        <div class="caption">

    <a target="_blank" href="<%= info['url'] %>">
        <img src="<%= info['logo'] %>" title="<%= info['name'] %>" alt="image"/>
        <h5><%= info['name'] %></h5>
    </a>
        <% resolve_authors(info['author']).map(function(author) { %>
            <h4><em><a target="_blank" href="http://twitter.com/<%= author.twitter %>"><%= author.name %></a></em></h4>
        <% }).join(", "); %>

    </div>
        <div class="content">

    <p><%- info['text'] %></p>

    <div style="text-align: center; "><% if (info['site']) { %>
        <a target="_blank" href="<%= info['site'] %>">Site</a>
        <% }
        if (info['docs']) {
        %>
        | <a target="_blank" href="<%= info['docs'] %>">Docs</a>
        <% }
        if (info['source']) {
        %>
        | <a target="_blank" href="<%= info['source'] %>">Source</a>
        <% }
        %>
    </div>

        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
