<% var info=typeof(item) == 'object' ? item : drivers[item] %>
<div class="item driver">

    <a target="_blank" href="<%= info['url'] %>">
        <img src="<%= info['logo'] %>" title="<%= info['name'] %>" alt="image"/>
        <h3 id="<%= item.key || key %>"><%= info['name'] %></h3>
    </a>
    <% resolve_authors(info.authors).map(function(author) { %>
        <h4><em><a target="_blank" href="http://twitter.com/<%= author.twitter %>"><%= author.name %></a></em></h4>
    <% }).join(", "); %>
    <p><%- info['text'] %></p>

    <div class="outLink"><% if (info['site']) { %>
        <a target="_blank" href="<%= info['site'] %>">Site</a>
        <% }
        if (info['docs']) {
        %>
        <% if (info['site']) { %>|<% } %> <a target="_blank" href="<%= info['docs'] %>">Docs</a>
        <% }
        if (info['source']) {
        %>
        <% if ((info['site']) || (info['docs'])) { %>|<% } %> <a target="_blank" href="<%= info['source'] %>">Source</a>
        <% }
        %>
    </div>
</div>