<% include ../head %>
<div class="container">
<style type="text/css">
    #add_channel input {
       width:80px;
    }
    #add_channel select {
       width:50px;
    }
    #add_channel {
        height:210px;
        text-align:right
    }
    a.vote:hover, a.vote:visited,a.vote:active {
        text-decoration: none;
    }
    a.vote i {
        vertical-align: baseline;
    }
</style>
<!-- Example row of columns -->
<div role="main" class="row">


  <div class="span12">
    <div class="inner">
      <h1>Poll of Developer Communication Channels</h1>
      <p class="lead">Where do you learn new stuff?</p>
	  <p>We are interested in which communication channels you, but also especially your co-workers, friends and consulting-customer developers use to learn more about technology and software development.</p>

<!-- TODO Ajax callbacks -->
		<form action="#" method="post">
	      <div class="thumbnails row-fluid">
		    <div style="min-width:30px;">&nbsp;</div>
              <div id="add_channel" class="thumbnail span2">
                  Name: <input type="text" name="new_name"/><br/>
                  URL: <input type="text"  name="new_url"/><br/>
                  Logo: <input type="text" name="new_logo"/>
                  Lang:  
                  <select name="new_lang">
                    <option selected="selected" value="en">EN</option>
                    <option value="de">DE</option>
                    <option value="cn">CN</option>
                    <option value="es">ES</option>
                    <option value="ru">RU</option>
                    <option value="fr">FR</option>
                    <option value="it">IT</option>
                    <option value="se">SE</option>
                    <option value="pt">PT</option>
                    <option>--</option>
                     </select><br/>
                    <a href="#" class="btn" style="padding: 5px;">Add your suggestion.</a>
            </div>
          <% channels.forEach(function(info) { %>
			  <div class="thumbnail  span2" style="height:100px;">
			    <% if (info['logo']) { %>
			      <a href="<%= info['url'] %>">
			        <img src="<%= info['logo'] %>" width="100" title="<%= info['name'] %>" alt="logo of <%= info['name'] %>"/>
			      </a>
			    <% } %>

			        <h5><a href="<%= info['url']||'#' %>" target="_blank"><%= info['name'] %></a> 
                        [<%= info['lang']||'en' %>] <br/>
                        <a class="vote" href="#vote_<%= info.row %>"><span><%= info['votes'] %></span>&nbsp;<i class="icon icon-thumbs-up"></i></a></h5>
			</div>
          <% }); %>
      	  </div>
		</form>
    </div>
  </div>
 
</div>
<% include ../foot %>
<script type="text/javascript">
    $(document).ready(new function() {
        $("#add_channel a.btn").click(function() {
            var name=$("#add_channel input[name=new_name]").val();
            var url=$("#add_channel input[name=new_url]").val();
            var logo=$("#add_channel input[name=new_logo]").val();
            var lang=$("#add_channel select[name=new_lang]").val();
            console.log(name,url,logo,lang);
            if (name && url && logo && lang) {
                $.post("/add_channel?"+"name="+encodeURIComponent(name)+"&url="+encodeURIComponent(url)+"&logo="+encodeURIComponent(logo)+"&lang="+encodeURIComponent(lang),function(data,err) {
                   console.log(data,err);
                   setTimeout(function(){
                       window.location.reload();
                   },1*1000);
                   
                });
            }
        });
        $("a.vote").click(function() {
            var link=$(this);
            var vote=link.attr("href").split("_")[1];
            console.log("Vote",vote);
            var votes = link.children("span");
            console.log(votes,votes.html());
            votes.css({fontSize: "2em"});
            $.post("/vote?row="+vote,function(data,status,err) {
               console.log(data,status);
               votes.html(parseInt(votes.html())+1);
               votes.animate({fontSize: "1em"},1000);
            });
        });
    })
</script>
