    <tr>
        <td class="event_title" title="<%-: event['Description'] | truncate_words: 30 %>">
            <a href="<%= event['Url'] %>" target="_blank">
                <%- event['SourceTitle'] || event['Title'] %>
            </a>
        </td>
        <td>
            <a href="http://maps.google.com/?q=<%= event['Location'] %>" target="_blank"><%= event['City'] || "Map" || event['Location'] %></a>
        </td>
        <td class="event_date"  style=";text-align: right;" title="<%= event['Start'] %>">
            <%= event['Date'].toDateString() %>
        <a class="link" style="left: 1em;" href="/api/event.ics?title=<%- encodeURIComponent(event['Title']) %>" target="_blank"><i class="icon-calendar"></i></a></td>
        <td class="event_presenter">
        <% if (event['Presenter']) { %>
            <% if (event['Twitter']) { %>
                <a target='_blank' href="http://twitter.com/<%= event['Twitter'] %>"> <%= event['Presenter'] %> </a>
            <% } else { %>
                <%= event['Presenter'] %>
            <% } %>
        <% } %>
        </td>
        <td class="event_register" style=";text-align: right;"><a href="<%= event['Url'] %>" target="_blank">Register</a></td>
    </tr>
