<div class="item _page">
<%
	var hasPath = item.path;
    var config = page.config || {};
    var featured = config['tile_page'] ? null : item.featured;
	var image = item.img ? item.img : item.thumbnail ? item.thumbnail : (featured && featured.thumbnail ? featured.thumbnail : '');
%>

    <h3><%- link_to(item.path, item.title) %></h3>
    <% if (image) { %>
    <%- link_to(item.path, '<img class="preview" src="'+image+'" />') %>
    <% } %>
    <div>
        <p class="introText"><%- item.previewText ? item.previewText : item.introText %></p>
    </div>
    <% // todo linkto with classes and skip if no link 
    if (hasPath) { %><a class="link" href="<%= item.path %>"><%= (item.actionText ? item.actionText : 'Learn more')+' &raquo;' %></a><% } %>
</div>

