<div class="featured book" class="mainElement">
    <div class="slide book">
        <img src="<%= item.logo %>" data-src="<%= item.url %>">

        <div>
            <div class="caption">
                <h3 id="<%= item.key || key %>"><%= item.name %></h3>

                <p class="introText"><%- item.introText %></p>
            </div>
            <div class="content">
                <%- item.text %>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
